@use 'reset' as *;
@use 'variables' as *;
@use 'mixin' as *;

html {
    font-size: 10px;
}

body {
    min-height: 300vh;
    width: 100%;
    font-family: 'KoHo', sans-serif;
    font-size: 1.8rem;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 4rem;
    background: linear-gradient(65deg, rgba(0,0,0,1) 7%, rgba(88,26,26,1) 48%, rgba(0,0,0,1) 100%);
    color: rgb(238, 185, 185);
    border: 1px solid red;
    h1 {
        position: relative;
        max-width: 14rem;
        font-size: 5rem;
        font-weight: 500;
        .solutions {
            position: absolute;
            top: 5rem;
            left: 8rem;
            font-size: 3rem;
            font-weight: 300;
        }
    }
    .mobile-header {
        position: absolute;
        top: 15rem;
        right: 2rem;
        width: 33rem;
        height: 40rem;
        background: url('../assets/img/mobile-header.png') center/cover;
        // border: 1px solid red;
    }
}